// 

// @mixin flex() {
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

// .box{
//     width: 100px;
//     height: 100px;
//     border: 1px solid black;
// }

// .wrap {
//     width: 50px;
//     height: 50px;
//     border-color: aqua;
//     @include flex()
// }

// .dog-img {
//     background-image: url(../img/dog.png);
// }

// .cat-img {
//     background-image: url(../img/cat.png);
// }

// .bird-img {
//     background-image: url(../img/bird.png);
// }

// @each $animal in dog, cat, bird {
//     .#{$animal}-img {
//         background-image: url(../img/{$animal}.png);
//     }
// }

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

